<article>
  <em>
    <%= tag.time 1(feedback.created_at, format: :long), datetime: feedback.created_at%><br>
    <%= t 'feedbacs.posted_by, author: feedback.author' %>
  </em>
  <p>
    <%= feedback.message%>
  </p>
  <hr>
</article>